NODE_ENV=development
PORT=3000

POSTGRES_DB=motorcycle_workshop
POSTGRES_USER=workshop_user
POSTGRES_PASSWORD=workshop_password
DATABASE_URL="postgresql://xxxxxxx"

# API B (v2)
API_V2_PORT=3001
API_KEY=

# Orquestador
ORCHESTRATOR_URL=

# Pub/Sub
PUBSUB_PROJECT_ID=
PUBSUB_TOPIC=
GOOGLE_APPLICATION_CREDENTIALS=