PORT=4000

API_A_URL=<la api url de tu compañero>
API_A_KEY=<la que te dé tu compañero por canal privado>

API_B_URL=<tu api url de siempre>
API_B_KEY=<tu misma API_KEY de siempre>

ORCHESTRATOR_API_KEY=<genera una nueva, igual que hiciste para API B>

PUBSUB_PROJECT_ID=<tu proyecto gcp>
PUBSUB_TOPIC=<tu topic gcp>